.drivers-container {
  padding: 2rem;
  text-align: center;
  background-color: #FAEDCD;
}

h1 {
  color: #D4A373;
  margin-bottom: 1.5rem;
}

.drivers-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #FEFAE0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.drivers-table th, .drivers-table td {
  padding: 1rem;
  border-bottom: 1px solid #E9EDC9;
}

.drivers-table th {
  background-color: #CCD5AE;
  color: #174E4F;
  text-transform: uppercase;
}

.drivers-table tr:hover {
  background-color: #E9EDC9;
}
